.auth-container {
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.auth-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--background-2);
}

.auth-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

