nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--surface2-dark);
  padding: none;
  height: 2.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  z-index: 99;
}

.logo-container a {
  color: var(--text1-dark);
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.user-menu-container {
  position: relative;
  display: flex;
  align-items: center;
}

.icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  cursor: pointer; 
}

.bars-icon {
  background-image: url('../../icons/bars-solid.svg');
  width: 1.5rem;
  height: 1.5rem;
  background-size: contain;
  background-repeat: no-repeat;
  color: var(--brand);
}

.user-menu {
  list-style-type: none;
  padding: 0;
  background-color: var(--surface2-dark);
  border-radius: 0 0 0 5px;
  position: absolute;
  top: 100%;
  right: 0;
  display: flex;
  flex-direction: column;
  z-index: 1;
  margin-top: 0;
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.5);
}

.user-menu a {
  display: block;
  color: var(--text1-dark);
  padding: 10px;
  text-decoration: none;
}

.user-menu a:hover {
  background-color: var(--brand);
  color: var(--text1-light);
}


