button.quantity {
    aspect-ratio: 1/1;
}

input.quantity{
    width: 4rem;
}

input.price{
    width: 6rem
}

.order-options select{
    background: transparent;
    border: none;
    color: var(--text1-dark)
}

.order-options button, .order-options select{
    margin-bottom: 0.2rem;
    margin-top: 0.2rem;
}

.order-options .select-container{
    margin-top: 0.2rem;
    width: 8rem;
}