.ticker-search-container {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    min-width: 20rem;
    max-width: 30rem;
    width: 25vw;
    height: 40rem;
    max-height: 40rem;
    background-color: var(--surface2-dark);
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px; 
}

.ticker-search-container input{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 90%;
}

.ticker-search-header{
    border-bottom: 1px solid var(--text1-dark);
    padding: 5px;
    background-color: var(--surface3-dark);
    border-radius: 5px 5px 0 0;
}
.ticker-list::-webkit-scrollbar-track {
    border-radius: 0 0 5px 0;
  }

  .ticker-list {
    overflow-y: auto;
}

.ticker-link {
    color: var(--text1-dark); 
}

.ticker-item {
    padding: 5px;
    border-bottom: 1px solid var(--text1-dark);
    display: flex;
}

.ticker-item:hover {
    color: var(--text1-light);
    background-color: var(--brand);
}
