.top-bar {
    display: flex;
    border-bottom: 1px solid var(--text1-dark);
    padding-bottom: 0.5rem;
}

.top-bar button {
    aspect-ratio: 1/1;
}

.search-input {
    width: 100%
}

.wallet-icon {
    background-image: url('../../icons/wallet-solid.svg');
    width: 1rem; 
    height: 1rem; 
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: auto;
    color: var(--brand);
  }

  .ticker-item:hover .wallet-icon{
    background-image: url('../../icons/wallet-solid-hover.svg');
  }
  