.alert-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9999;
  }
  
  .alert {
    display: flex;
    align-items: center;
    background-color: #f44336;
    color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
  }

  .success {
    background-color: #4CAF50;
  }
  
  .closebtn {
    margin-right: 10px;
    cursor: pointer;
  }
  
  