.dashboard-module {
  background-color: var(--surface2-dark);
  border: none;
  margin: 1rem;
  min-width: 20rem;
  max-width: 30rem;
  width: 25vw;
  position: relative;
  border-radius: 5px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.dashboard-module-large{
  max-width: calc(100vw - 40px);
  width: 50rem
}

.dashboard-module-header {
  background-color: var(--surface3-dark);
  display: flex;
  cursor: pointer;
  border-bottom: 1px solid var(--text1-dark);
  border-radius: 5px 5px 0 0;
  padding: 0.2rem;
  padding-left: 0.6rem;
}

.dashboard-module-header-large{
  cursor: default;
}

.dashboard-module-header:hover {
  color: var(--brand);
}

.dashboard-module-header-large:hover {
  color: var(--text1-dark);
}

.dashboard-module-content{
  padding: 0.5rem;
}
