.select-container {
    position: relative;
    width: 10rem;
    background:transparent;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  .selected-option {
    padding: 0.5rem;
    border: 1px solid #ccc;
    cursor: pointer;
  }
  
  .options-container {
    position: absolute;
    top: 100%;
    left: 0;
    border: 1px solid #ccc;
    z-index: 1;
    background-color: var(--surface3-dark);
    width: 100%;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.5);
  }
  
  .option {
    padding: 0.5rem;
    cursor: pointer;
  }
  
  .option:hover {
    background-color: var(--brand);
    color: var(--text1-light);
  }
  